*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/
/build.gradle
/app/build.gradle
app/libs/
xmlstyler/libs/
xmlstyler/src/main/res/drawable/
